---
import data from '../data/corpus.json';
import Layout from '../layouts/Layout.astro';
import CorpusCard from '../components/CorpusCard.astro';
import AudioPlayer from '../components/AudioPlayer.astro';
import Search from '../components/Search.svelte';
import ToTopButton from '../components/ToTopButton.astro';
---

<Layout>
  <main class="max-w-4xl mx-auto pt-6 pb-10">
    <h1 class="text-3xl font-bold mb-6 text-center">Ghor Attestations</h1>

    <nav class="mb-6 flex flex-wrap gap-3 justify-center text-sm text-blue-600 font-medium">
      <a href={`#4.01`} class="hover:underline">E4</a>
      <a href={`#5.01`} class="hover:underline">E5</a>
      <a href={`#6.01`} class="hover:underline">E6</a>
      <a href={`#7.01`} class="hover:underline">E7</a>
      <a href={`#8.01`} class="hover:underline">E8</a>
      <a href={`#AN.01`} class="hover:underline">AN</a>
      <a href={`#AR.01`} class="hover:underline">AR</a>
    </nav>

    <Search data={data} client:only />

    <div id="card-container" class="space-y-10 mt-6">
      {data.map(att => <CorpusCard att={att} />)}
    </div>
  </main>
  <ToTopButton />
  <AudioPlayer />
</Layout>